.watch {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
}

.watch ul {
  list-style-type: none;
}

.watch * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.marks * {
  position: absolute;
  font-family: Helvetica; /* для Georgia нужна тонкая настройка по высоте, т.к. символ не сцентрован по вертикали */
  font-size: 24px;  /* предпочитайте для шрифта px, pt или %, не используйте em */
  font-weight: bold;
  text-align: center;
  width: 2em; /* таким образом не привязаны к конкретному размеру шрифта */
  height: 1em;
  margin-left: -1em;
  margin-top: -0.5em;
  line-height: 1;
}

.axis, .hands *, .ticks * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0;
}

.ticks * {
  right: 2px;
  height: 2px;
  margin-top: -1px;
  border-right: 4px solid black;
}

.thick {
  height: 4px;
  margin-top: -2px;
  border-right-width: 6px;
}

.axis {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  background-color: black;
  border-radius: 50%;
  border: 0.5px solid #ccc;
}

.hands * {
  _background-image: linear-gradient(90deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1.0)); /* полупрозрачная у основания */
  background-color: black;
  border-top-right-radius: 100% 10px; /* заостренная стрелка */
  border-bottom-right-radius: 100% 10px;
  border: 0.5px solid #ccc;
}

.watch.transition .hands *{
  _transition: transform 1s; /* если часы пометить классом transition, к стрелкам будет применяться CSS-анимация*/
}
.hourHand {
  height: 6px;
  margin-top: -3px;
  width: 30%;
}

.minuteHand {
  height: 4px;
  margin-top: -2px;
  width: 35%;
}

.secondHand {
  height: 2px;
  margin-top: -1px;
  width: 40%;
}